<!DOCTYPE html>
<div class="main-content container-fluid">
  <div class="row">
    <div class="col m8 offset-m2">
      <h1 class="fine center">Hello there!</h1>
      <h4 class="light center">
        Here are the project ideas for NumFOCUS 2019
      </h4>
      <br> </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row user">
      <div class="parent-wrapper">
        <div class="parent">
          <div ng-repeat="il in toc2.ideasList" class="card child card-main sc">
            <a ng-href="{{il.url}}">
              <div class="empty"></div>
              <!-- data-proofer-ignore as html-proofer doesn't recognise ng-src -->
                <div class="name center">{{ il.url }}
                </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
