<!DOCTYPE html>
<div class="main-content container-fluid">
  <div class="row">
    <div class="col m8 offset-m2">
      <h1 class="fine center">Hello there!</h1>
      <h4 class="light center">
        This is a list of to the project ideas of our sub-orgs. You can find the same information on the page for each sub org.
      </h4>
      <br> </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row user">
      <div class="parent-wrapper">
        <div class="parent">
          <div ng-repeat="il in toc2.ideasList" class="card child card-main sc">
            <a ng-href="{{il.url}}">
                <div class="name center">{{ il.name }}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
