<!DOCTYPE html>
<!-- projectCtrl is linked with angular controller of the same name
therefore adding an ignore comment -->
<section id="projectCtrl"> <!-- Ignore HTMLLintBear -->
  <br>
  <div class="main-content container">
    <div class="col m8 col offset-m2 s12">
      <div class="input-field searchbar">
        <input ng-model="searchText" placeholder="Search for an organization" id="search" type="search" class="validate"> </div>
    </div>
  </div>
  <br>
  <br>
  <section tabindex="1">
    <div class="container">
      <div class="row outline">
        <div class="parent-wrapper">
          <div class="parent">
            <div ng-repeat="project in projectList | filter: searchText | orderBy: sortOrder" class="card child">
              <div class="card-content waves-effect" ng-click="lc.showProject(project)">
                <div class="card-title center">{{ project.name }}</div>
                <div btf-markdown="project.desc" class="markdown"></div>
              </div>
              <div ng-show="project.tags.length>0" class="card-action"> <span ng-repeat="tag in project.tags | limitTo:4"><a>{{tag}}</a></span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div ng-keydown="arrowPressed($event)" id="modal1" class="modal theatre margin" tabindex="0">
    <div class="modal-content">
      <div class="col m4 profile">
        <div class="name"> {{ currentProject.name }} </div>
        <div ng-show="currentProject.collaborating_projects.length>0">
          <div class="small-heading uppercase">Collaborating projects</div> <span class="pr-element-detail chip" ng-repeat="project in currentProject.collaborating_projects">{{ project }}</span>
          <br> </div>
        <div ng-show="currentProject.tags.length>0">
          <div class="small-heading uppercase">Tags</div> <span class="pr-element-detail chip" ng-repeat="tags in currentProject.tags">{{ tags }}</span> </div>
      </div>
      <div class="col m8 dashboard">
        <div btf-markdown="currentProject.content" class="description markdown"></div>
        <br>
        <br> </div>
    </div>
  </div>
  <i ng-show="currentProject" ng-click="moveToNext('left')" class="fa fa-arrow-circle-left arrow-click arrow-move-left" aria-hidden="true"></i>
  <i ng-show="currentProject" ng-click="moveToNext('right')" class="fa fa-arrow-circle-right arrow-click arrow-move-right" aria-hidden="true"></i>
</section>


<script>
  $(document).ready(function(){
    $('.explore').click(function () {
      $('html,body').animate({
        scrollTop: $(".showcase").offset().top},
        'slow');
    })

    $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: 0.8, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration
      starting_top: '10%', // Starting top style attribute
      ending_top: '10%', // Ending top style attribute
      ready:function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        $(this).focus();
      },complete:function(){
      angular.element('#projectCtrl').scope().updateLink();
      angular.element('#projectCtrl').scope().$apply();
     } // Callback for Modal close
    }
    );
  })
</script>
